.App {
  
}

.nav{
  background-color: rgb(194, 209, 63);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav p {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav-l{
  padding: 0;
  margin: 0;
  list-style: none;
  
  gap:42vw;
  display: flex;
  justify-content: space-between;
}
.site-title{
  font-size: 2rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}


